@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
}

/* HEADER */

.navmenu {
  display: flex;
  justify-content: flex-end;
  margin-top: -125px;
}

.navmenu #heb {
  width: 200px;
  padding: 40px;
  text-decoration: none;
}

.navmenu #act {
  width: 155px;
  padding: 40px;
  text-decoration: none;
}

.navmenu :hover {
  border-style: solid;
  border-color: #0065fc;
  border-width: 3px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #0065fc;
}

/* HERO */

#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

#hero h2 {
  font-weight: lighter;
  font-size: 1.2rem;
}

/* Bar de recherche */

.container {
  display: flex;
  margin-top: 10px;
}

.search-box {
  width: 4em;
  position: absolute;
  border: none;
}

.search {
  position: absolute;
  width: 500%;
  padding: 20%;
  height: 47px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-left-width: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

::placeholder {
  color: black;
}

.location-logo {
  position: absolute;
  top: 13px;
  border: none;
  left: 13px;
  font-size: 18px;
  background: none;
}

.search-btn {
  position: relative;
  width: 48px;
  height: 47px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  color: white;
  background-color: #0065fc;
  border-style: solid;
  border: none;
  left: 450%;
  bottom: 0px;
}

.Rechercher {
  position: relative;
  border-style: solid;
  color: white;
  border: none;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  left: 400%;
  font-size: 1.1rem;
  height: 47px;
  width: 180%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

/* FILTRES */

.btnfiltre {
  margin-top: -35px;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.filtres p {
  font-weight: bold;
  margin-top: 100px;
}

.btnfiltre :hover {
  transform: scale(1.1);
}

.titrefiltre {
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-left: none;
  color: black;
}

/* FILTRES ECONOMIQUE */

#Logomoney {
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
  text-decoration: none;
}

/* FILTRES FAMILIAL */

#logoman {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 5px;
  margin-top: -30px;
  width: 40px;
  padding: 8px;
}

/* FILTRES ROMANTIQUE */

#logoheart {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
}

/* FILTRES ANIMAUX */

#logodog {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
}

/* INFO */

.fa-solid.fa-info {
  border-radius: 50%;
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  padding-left: 11px;
  padding-top: 5px;
  height: 30px;
  width: 30px;
  border-width: 1px;
  margin-top: 10px;
  margin-right: 5px;
}
.info {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
}

/* CARDS HERBEGEMENT A MARSEILLE */

#titrecarte {
  font-size: 1.3rem;
  position: relative;
  top: 45px;
  left: 30px;
  width: 30%;
}

#afficherplus {
  font-size: 1rem;
  position: relative;
  top: 490px;
  left: 30px;
}

.fullstars {
  color: #0065fc;
}

.emptystars {
  color: #dfdfdf;
}

.hebergement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  width: 62%;
  background-color: #efefef;
  padding-bottom: 120px;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 0px;
  margin-top: -60px;
  border-radius: 15px;
}

a:link {
  text-decoration: none;
}
.card-image img {
  width: 100%;
  height: 130px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-bottom-color: #ffffff;
}

.prix {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 0.7em;
  color: black;
}

.note {
  margin-left: 10px;
  font-size: 0.7em;
}

.card {
  border-radius: 20px;
  border-style: solid;
  width: 30%;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 0.7em;
  color: black;
}

/* CARDS LES PLUS POPULAIRES */

#titrecartelespluspopulaires {
  display: flex;
  position: relative;
  left: 5px;
  font-size: 1.3rem;
  max-width: 100%;
  gap: 42%;
}

.fa-solid.fa-arrow-trend-up {
  border-style: solid;
  border-top: none;
  border-right: none;
  border-width: 3px;
  padding: 1%;
  height: 30px;
}

.populaires {
  margin-top: -590px;
  margin-left: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #efefef;
  border-radius: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 32%;
}

.card-image-pop img {
  text-decoration: none;
  margin: 0px;
  width: 40%;
  height: 140px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.card-body-pop {
  font-size: 70%;
  margin-top: -150px;
  margin-left: 42%;
  margin-bottom: 10px;
  margin-right: 30px;
  width: auto;
  color: black;
}

.cardpop {
  border-style: solid;
  border-radius: 15px;
  border-width: 4px;
  height: 148px;
  border-color: white;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

/* Activités a Marseille */
.activiteamarseille {
  position: relative;
  top: 40px;
  font-size: 1.3rem;
}

.containeractivite {
  display: flex;
}

.containeractivite h4 {
  margin-top: -40px;
  margin-left: 30px;
  color: black;
}

.containeractivite1 {
  display: flex;
  gap: 5%;
  width: 200%;
  height: 500px;
}

.containeractivite2 {
  display: flex;
  gap: 5%;
  width: 200%;
  height: 500px;
}

/* CARD ACTIVITE INITIAL*/

.solo {
  width: 40%;
  height: 85%;
}

.double1 {
  width: 45%;
  height: 55%;
}

.double2 {
  margin-top: 305px;
  width: 45%;
  height: 30%;
  margin-left: -50%;
}

.solo img {
  margin-top: 30px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.double1 img {
  margin-top: 30px;
  object-fit: cover;
  width: 100%;
  height: 90%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.double2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

/* CARDS JUMELLE*/

.solocalanque {
  width: 40%;
  height: 85%;
}

.double1notredame {
  width: 45%;
  height: 55%;
}
.double2longchamp {
  margin-top: 305px;
  width: 45%;
  height: 30%;
  margin-left: -50%;
}
.solocalanque img {
  margin-top: 30px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.double1notredame img {
  margin-top: 30px;
  object-fit: cover;
  width: 100%;
  height: 90%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.double2longchamp img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

/* FOOTER */

.footer {
  display: flex;
  gap: 20%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  background-color: #efefef;
  font-size: 1.3rem;
}

/* ADAPTATION ECRAN */

@media only screen and (max-width: 1453px) {
  body {
    margin: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .search-btn {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .Rechercher {
    display: none;
  }
  .search-box {
    width: 60px;
  }
}
@media only screen and (max-width: 768px) {
  /* NAVMENU */

  .mainlogo {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: 50px;
  }
  .navmenu :hover {
    border-style: solid;
    border-bottom-color: #0065fc;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #0065fc;
  }

  .navmenu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: -30px;
    margin-left: 30px;
  }

  .navmenu #heb {
    display: flex;
    justify-content: center;
    margin-left: -63px;
    height: 50px;
    width: 400px;
  }

  .navmenu #act {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 400px;
    margin-right: -30px;
  }

  /* CARDS LES PLUS POPULAIRE*/
  #Main {
    display: flex;
    flex-direction: column;
  }

  #titrecartelespluspopulaires {
    left: 30px;
    gap: 62%;
  }

  .populaires {
    order: 1;
    margin: 0%;
    margin-left: -30px;
    margin-top: -150px;
    width: 100vw;
    min-width: 320px;
    border-radius: 0%;
  }

  .card-image-pop img {
    text-decoration: none;
    margin: 0px;
    width: 30%;
    height: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }
  .card-body-pop {
    font-size: 85%;
    margin-top: -170px;
    margin-left: 42%;
    margin-bottom: 10px;
    margin-right: 30px;
    width: auto;
    color: black;
  }

  .cardpop {
    width: 100%;
    height: 160px;
  }

  /* CARDS HEBERGEMENT*/

  #titrecarte {
    top: 730px;
    margin-left: 0px;
    width: 45%;
  }

  #afficherplus {
    font-size: 1rem;
    position: relative;
    top: 2580px;
    left: 40px;
    width: 45%;
  }

  .hebergement {
    display: flex;
    order: 2;
    flex-direction: column;
    width: 105%;
    background: none;
    margin: 0px;
    margin-top: 60px;
    margin-left: -30px;
  }

  .card-image img {
    width: 100%;
    height: 230px;
  }
  .card {
    width: 100%;
    border-bottom-width: 280px;
  }

  /* ACTIVITE MARSEILLE*/
  .activiteamarseille {
    top: 2580px;
  }

  .containeractivite {
    flex-direction: column;
    order: 3;
  }

  .containeractivite1 {
    flex-direction: column;
    gap: 7%;
    width: 100%;
  }

  .containeractivite2 {
    flex-direction: column;
    width: 100%;
    gap: 7%;
    margin-top: 240px;
  }
  .solo {
    width: 100%;
    height: 45%;
  }

  .double1 {
    width: 100%;
    height: 45%;
  }

  .double2 {
    margin-top: 0%;
    width: 100%;
    height: 45%;
    margin-left: 0%;
  }

  .solocalanque {
    margin-top: 10px;
    width: 100%;
    height: 45%;
  }

  .double1notredame {
    width: 100%;
    height: 45%;
  }

  .double2longchamp {
    width: 100%;
    height: 45%;
    margin-top: 5px;
    margin-left: 0%;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    margin-top: 500px;
    width: 100vw;
  }
}

@media only screen and (max-width: 859px) {
  .container {
    display: flex;
  }
}

@media only screen and (max-width: 497px) {
  .btnfiltre {
    margin-top: 25px;
    margin-left: 0px;
  }
  .container {
    display: flex;
  }
}

@media only screen and (max-width: 385px) {
  .search-btn {
    left: 400%;
  }

  .search {
    width: 410%;
  }
}

@media only screen and (max-width: 425px) {
  #titrecartelespluspopulaires {
    gap: 10%;
  }
}

/*# sourceMappingURL=Style.css.map */
