@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: "Raleway", sans-serif;
}

/* HEADER */

.navmenu {
  display: flex;
  justify-content: flex-end;
  margin-top: -125px;
  margin-right: -30px;
}

.navmenu #heb {
  width: 200px;
  padding: 40px;
  text-decoration: none;
}

.navmenu #act {
  width: 155px;
  padding: 40px;
  text-decoration: none;
}

.navmenu :hover {
  border-style: solid;
  border-color: #0065fc;
  border-width: 3px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #0065fc;
}

/* HERO */

#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

#hero h4 {
  font-weight: lighter;
}

/* Bar de recherche */

.container {
  display: flex;
  margin-top: 10px;
}

.search-box {
  width: 4em;
  position: absolute;
  border: none;
}

.search {
  position: absolute;
  width: 300px;
  padding: 20%;
  height: 47px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-left-width: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

::placeholder {
  color: black;
}

.location-logo {
  position: absolute;
  top: 13px;
  border: none;
  left: 13px;
  font-size: 18px;
}

.search-btn {
  position: relative;
  width: 48px;
  height: 47px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #0065fc;
  border-style: solid;
  border: none;
  left: 280px;
  bottom: 0px;
}

.Rechercher {
  position: relative;
  border-style: solid;
  color: white;
  border: none;
  background-color: #0065fc;
  font-family: "Roboto", sans-serif;
  left: 300px;
  font-size: 1rem;
  height: 47px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

/* FILTRES */

.btnfiltre {
  margin-top: -35px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.filtres p {
  font-weight: bold;
  margin-top: 70px;
}

.btnfiltre :hover {
  transform: scale(1.1);
}

/* FILTRES ECONOMIQUE */

#eco {
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-left: none;
  color: black;
}
#Logomoney {
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
  text-decoration: none;
}

/* FILTRES FAMILIAL */

#fami {
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-left: none;
  color: black;
}
#logoman {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
}

/* FILTRES ROMANTIQUE */

#rom {
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-left: none;
  color: black;
}
#logoheart {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
}

/* FILTRES ANIMAUX */

#anim {
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-left: NONE;
  color: black;
}
#logodog {
  text-decoration: none;
  display: flex;
  border-style: solid;
  border-color: #deebff;
  border-radius: 30px;
  color: #0065fc;
  background-color: #deebff;
  border-width: 12px;
  margin-top: -30px;
  width: 40px;
}

.fa-solid.fa-info {
  border-radius: 50%;
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  padding-left: 11px;
  padding-top: 5px;
  height: 30px;
  width: 30px;
  border-width: 1px;
  margin-top: 10px;
  margin-right: 5px;
}
.info {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
}

/* CARDS HERBEGEMENT A MARSEILLE */

#Titrecarte {
  font-size: 1.3rem;
  position: relative;
  top: 55px;
  left: 30px;
}

#Afficherplus {
  font-size: 1rem;
  position: relative;
  top: 525px;
  left: -220px;
}

.fullstars {
  color: #0065fc;
}

.emptystars {
  color: #dfdfdf;
}

.hebergement {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  width: 900px;
  background-color: #efefef;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 0px;
  margin-top: 0px;
  border-radius: 15px;
}

a:link {
  text-decoration: none;
}
.card-image img {
  width: 250px;
  height: 130px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-bottom-color: #ffffff;
}

/* Card cannebiere */

.cardcannebiere {
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}
.card-name1 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix1 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note1 {
  margin-left: 10px;
}

/* Card hotel du port */
.cardhotelduport {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name2 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix2 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note2 {
  margin-left: 10px;
}

/* Card hotel les mouettes */

.cardhotellesmouettes {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name3 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix3 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note3 {
  margin-left: 10px;
}

/* Card hotel de la mer */

.cardhoteldelamer {
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name4 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix4 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note4 {
  margin-left: 10px;
}

/* Card auberge le panier */

.cardaubergelepanier {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name5 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix5 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note5 {
  margin-left: 10px;
}

/* Card hotel lchez amina */

.cardhotelchezamina {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  border-style: solid;
  width: 258px;
  height: 130px;
  border-color: #ffffff;
  border-width: 4px;
  border-bottom-width: 180px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.card-name6 {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 12px;
  color: black;
}
.prix6 {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 12px;
  color: black;
}

.note6 {
  margin-left: 10px;
}

/* CARDS LES PLUS POPULAIRES */

#Titrecartelespluspopulaires {
  position: relative;
  left: 965px;
  top: -550px;
  font-size: 1.3rem;
  width: 410px;
}

.fa-solid.fa-arrow-trend-up {
  margin-left: 180px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-width: 3px;
  padding: 3px;
}

.populaires {
  margin-top: -608px;
  margin-left: 930px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #efefef;
  border-radius: 15px;
  padding-bottom: 30px;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  width: 460px;
}

.card-image-pop img {
  text-decoration: none;
  margin: 0px;
  width: 140px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.card-body-pop {
  margin-top: -150px;
  margin-left: 160px;
  margin-bottom: 45px;
  margin-right: 30px;
  color: black;
}

.cardhotellesoleildumatin {
  border-style: solid;
  border-radius: 15px;
  border-width: 4px;
  border-color: white;
  height: 138px;
  width: 400px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.cardaucoeurdeleau {
  border-style: solid;
  border-radius: 15px;
  border-width: 4px;
  border-color: white;
  width: 400px;
  height: 138px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.cardhoteltoutbleu {
  border-style: solid;
  border-radius: 15px;
  border-width: 4px;
  border-color: white;
  width: 400px;
  height: 138px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

/* Activités a Marseille */
.activitéamarseille {
  position: relative;
  top: 50px;
  font-size: 1.3rem;
}

.containeractivité {
  display: flex;
  gap: 210px;
}

.containeractivité1 {
  display: flex;
  justify-content: row;
  gap: 30px;
  margin-top: 30px;
}

.containeractivité2 {
  display: flex;
  justify-content: row;
  gap: 30px;
  margin-top: 30px;
}

/* Vieux port*/

.vieuxportimg img {
  margin-top: 30px;
  object-fit: cover;
  width: 300px;
  height: 450px;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.cardnameact {
  position: relative;
  color: black;
  width: 300px;
  margin-left: 30px;
  top: -40px;
}
/* Fort de pomègues */
.fort img {
  margin-top: 30px;
  object-fit: cover;
  width: 350px;
  height: 245px;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}
.cardnameact2 {
  position: relative;
  color: black;
  width: 300px;
  margin-left: -320px;
  top: -25px;
}

/* Iles de frioul */

.frioul img {
  margin-top: 30px;
  object-fit: cover;
  width: 350px;
  height: 170px;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 60px;
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
}

.cardnameact3 {
  position: relative;
  color: black;
  width: 300px;
  margin-left: -320px;
  top: -25px;
}

/* FOOTER */

.footer {
  display: flex;
  gap: 300px;
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
  background-color: #efefef;
}

/* ADAPTATION ECRAN */

@media only screen and (min-width: 992px) {
  .search-btn {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .Rechercher {
    display: none;
  }
  .search-box {
    width: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .mainlogo {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: 50px;
  }
  .navmenu :hover {
    border-style: solid;
    border-bottom-color: #0065fc;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #0065fc;
  }

  .navmenu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: -30px;
  }

  .navmenu #heb {
    display: flex;
    justify-content: center;
    margin-left: -63px;
    height: 50px;
    width: 400px;
  }

  .navmenu #act {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 400px;
  }
}

@media only screen and (max-width: 859px) {
  .container {
    display: flex;
  }
}

@media only screen and (max-width: 497px) {
  .btnfiltre {
    margin-top: 25px;
    margin-left: 0px;
  }
  .container {
    display: flex;
  }
}

/*# sourceMappingURL=Style.css.map */
